button {
    background-color: $color-primary;
    color: $white;
    border: 0;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    min-width: 4rem;
    min-height: 2rem;
    margin: 1rem;
}